{% extends 'base.html.twig' %}

{% block title %} 
{% endblock %}


{% block body %}
    <div class="text-center">
        <h1 class="mb-4">Trouver ton association</h1>

        <div class="container">
            Votre volonté d'investissement dans des associations est admirable.
            En vous impliquant, vous faites une différence concrète dans des domaines qui vous
            tiennent à cœur. Votre engagement bénévole renforce le tissu social et vous offre l'opportunité
            de développer de nouvelles compétences.  Continuez à faire une différence positive.
        </div>
        
        <div class="mt-4">
            <img src="{{ asset('../images/1erpage.jpg')}}" class="w-50 mx-auto" alt="responsive-image">
        </div>

        <div class="mt-4">
            <a type="button" class="btn btn-danger btn-lg mx-auto" href="{{ path('app_question') }}">Continuez</a>
        </div>
    </div>


<h3 class="text-center">Quel format de mission souhaiteriez-vous ?</h3>
<div class="workchoice">
    <div class="card carte1">
    <img src="../images/jeuxcartes.png" alt="Image 1">
    <div class="overlay">
        <img src="../images/jeuxcartes.png" class="HoverImage1"alt="Hover Image 1">
        <p>distanciel</p>
    </div>
    </div>

    <div class="card carte2">
    <img src="../images/jeuxcartes.png" alt="Image 2">
    <div class="overlay">
        <img src="../images/presentiel.png" class="HoverImage2" alt="Hover Image 2">
        <p>presentiel</p>
    </div>
    </div>

    <div class="card carte3">
    <img src="../images/jeuxcartes.png" alt="Image 3">
    <div class="overlay">
        <img src="../images/distanciel.png" class="HoverImage3"  alt="Hover Image 3">
        <p>Mixte</p>
    </div>
    </div>
</div> 

{% endblock %}