{% extends 'base.html.twig' %}

{% block title %}Hello MissionController!{% endblock %}

{% block body %}

{# <div class="workchoice">
<img src="../images/jeuxcartes.png" class="w-25 image1">
<img src="../images/jeuxcartes.png" class="w-25 image2">
<img src="../images/jeuxcartes.png" class="w-25 image3">
</div> #}

<h3 class="text-center">Quel format de mission souhaiteriez-vous ?</h3>
<div class="workchoice">
    <div class="card carte1">
    <img src="../images/jeuxcartes.png" alt="Image 1">
    <div class="overlay">
        <img src="../images/jeuxcartes.png" class="HoverImage1"alt="Hover Image 1">
        <p>distanciel</p>
    </div>
    </div>

    <div class="card carte2">
    <img src="../images/jeuxcartes.png" alt="Image 2">
    <div class="overlay">
        <img src="../images/presentiel.png" class="HoverImage2" alt="Hover Image 2">
        <p>presentiel</p>
    </div>
    </div>

    <div class="card carte3">
    <img src="../images/jeuxcartes.png" alt="Image 3">
    <div class="overlay">
        <img src="../images/distanciel.png" class="HoverImage3"  alt="Hover Image 3">
        <p>Mixte</p>
    </div>
    </div>
</div> 


{% endblock %}
